<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>P</key>
    <dict>
      <key>public.kern2.P</key>
      <integer>-70</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>public.kern2.COMMA</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.HYPHEN</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-100</integer>
      <key>public.kern2.QUOTE</key>
      <integer>-200</integer>
      <key>public.kern2.T</key>
      <integer>-200</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-250</integer>
      <key>public.kern2.W</key>
      <integer>-200</integer>
      <key>public.kern2.Y</key>
      <integer>-200</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.COMMA</key>
      <integer>-30</integer>
      <key>public.kern2.QUOTE</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-90</integer>
      <key>public.kern2.W</key>
      <integer>-85</integer>
      <key>public.kern2.Y</key>
      <integer>-110</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-85</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-180</integer>
      <key>public.kern2.COMMA</key>
      <integer>-200</integer>
      <key>public.kern2.J</key>
      <integer>-130</integer>
      <key>public.kern2.O</key>
      <integer>-80</integer>
      <key>public.kern2.PERIOD</key>
      <integer>-190</integer>
      <key>public.kern2.S</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.S</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.COMMA</key>
      <integer>-30</integer>
      <key>public.kern2.PERIOD</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.HYPHEN</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-70</integer>
      <key>public.kern2.O</key>
      <integer>-110</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.HYPHEN</key>
      <integer>-100</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-120</integer>
      <key>public.kern2.QUOTE</key>
      <integer>-300</integer>
      <key>public.kern2.T</key>
      <integer>-270</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-210</integer>
      <key>public.kern2.W</key>
      <integer>-210</integer>
      <key>public.kern2.Y</key>
      <integer>-240</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-120</integer>
      <key>public.kern2.COMMA</key>
      <integer>-140</integer>
      <key>public.kern2.P</key>
      <integer>-30</integer>
      <key>public.kern2.PERIOD</key>
      <integer>-100</integer>
      <key>public.kern2.QUOTE</key>
      <integer>-110</integer>
      <key>public.kern2.T</key>
      <integer>-130</integer>
      <key>public.kern2.U</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-110</integer>
      <key>public.kern2.W</key>
      <integer>-100</integer>
      <key>public.kern2.X</key>
      <integer>-110</integer>
      <key>public.kern2.Y</key>
      <integer>-150</integer>
      <key>public.kern2.Z</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>R</key>
      <integer>-70</integer>
      <key>public.kern2.A</key>
      <integer>-190</integer>
      <key>public.kern2.COMMA</key>
      <integer>-200</integer>
      <key>public.kern2.E</key>
      <integer>-70</integer>
      <key>public.kern2.J</key>
      <integer>-120</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.PERIOD</key>
      <integer>-200</integer>
      <key>public.kern2.QUOTE</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.QUOTE</key>
    <dict>
      <key>public.kern2.I</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-70</integer>
      <key>public.kern2.QUOTE</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.W</key>
      <integer>-40</integer>
      <key>public.kern2.X</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.SZ</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.QUOTE</key>
      <integer>-70</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.W</key>
      <integer>-50</integer>
      <key>public.kern2.X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.Z</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-200</integer>
      <key>public.kern2.COLON</key>
      <integer>-100</integer>
      <key>public.kern2.COMMA</key>
      <integer>-200</integer>
      <key>public.kern2.HYPHEN</key>
      <integer>-100</integer>
      <key>public.kern2.J</key>
      <integer>-170</integer>
      <key>public.kern2.O</key>
      <integer>-130</integer>
      <key>public.kern2.P</key>
      <integer>0</integer>
      <key>public.kern2.PERIOD</key>
      <integer>-200</integer>
      <key>public.kern2.S</key>
      <integer>-50</integer>
      <key>public.kern2.SEMICOLON</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.COMMA</key>
      <integer>-60</integer>
      <key>public.kern2.PERIOD</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-250</integer>
      <key>public.kern2.COMMA</key>
      <integer>-120</integer>
      <key>public.kern2.HYPHEN</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-180</integer>
      <key>public.kern2.O</key>
      <integer>-130</integer>
      <key>public.kern2.PERIOD</key>
      <integer>-200</integer>
      <key>public.kern2.S</key>
      <integer>-40</integer>
      <key>public.kern2.SEMICOLON</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-200</integer>
      <key>public.kern2.COMMA</key>
      <integer>-120</integer>
      <key>public.kern2.J</key>
      <integer>-110</integer>
      <key>public.kern2.O</key>
      <integer>-100</integer>
      <key>public.kern2.PERIOD</key>
      <integer>-130</integer>
      <key>public.kern2.S</key>
      <integer>-40</integer>
      <key>public.kern2.SEMICOLON</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.HYPHEN</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-110</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-300</integer>
      <key>public.kern2.COLON</key>
      <integer>-100</integer>
      <key>public.kern2.COMMA</key>
      <integer>-200</integer>
      <key>public.kern2.HYPHEN</key>
      <integer>-70</integer>
      <key>public.kern2.J</key>
      <integer>-200</integer>
      <key>public.kern2.O</key>
      <integer>-160</integer>
      <key>public.kern2.PERIOD</key>
      <integer>-200</integer>
      <key>public.kern2.S</key>
      <integer>-40</integer>
      <key>public.kern2.SEMICOLON</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-90</integer>
    </dict>
  </dict>
</plist>
