<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
	</array>
	<key>public.kern1.COLON</key>
	<array>
		<string>colon</string>
	</array>
	<key>public.kern1.COMMA</key>
	<array>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1.E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
	</array>
	<key>public.kern1.G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
	</array>
	<key>public.kern1.I</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>uni01CF</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>fi</string>
	</array>
	<key>public.kern1.J</key>
	<array>
		<string>IJ</string>
		<string>J</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>fl</string>
	</array>
	<key>public.kern1.O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>O</string>
		<string>Oacute</string>
		<string>uni01D1</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
	</array>
	<key>public.kern1.PERIOD</key>
	<array>
		<string>period</string>
	</array>
	<key>public.kern1.QUOTE</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern1.R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
	</array>
	<key>public.kern1.SEMICOLON</key>
	<array>
		<string>semicolon</string>
	</array>
	<key>public.kern1.SZ</key>
	<array>
		<string>uni1E9E</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>public.kern1.THORN</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>uni01D3</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01D5</string>
		<string>Ugrave</string>
		<string>Umacron</string>
		<string>Uring</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>public.kern1.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>uni01CD</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
	</array>
	<key>public.kern2.C</key>
	<array>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
	</array>
	<key>public.kern2.COLON</key>
	<array>
		<string>colon</string>
	</array>
	<key>public.kern2.COMMA</key>
	<array>
		<string>comma</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern2.ETH</key>
	<array>
		<string>Eth</string>
	</array>
	<key>public.kern2.F</key>
	<array>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>public.kern2.HYPHEN</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
	</array>
	<key>public.kern2.I</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>uni01CF</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Thorn</string>
		<string>uni1E9E</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
	</array>
	<key>public.kern2.O</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>O</string>
		<string>Oacute</string>
		<string>uni01D1</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>public.kern2.P</key>
	<array>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
	</array>
	<key>public.kern2.PERIOD</key>
	<array>
		<string>period</string>
		<string>ellipsis</string>
	</array>
	<key>public.kern2.QUOTE</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
	</array>
	<key>public.kern2.SEMICOLON</key>
	<array>
		<string>semicolon</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>uni01D3</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01D5</string>
		<string>Ugrave</string>
		<string>Umacron</string>
		<string>Uring</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>public.kern2.Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
</dict>
</plist>
