<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>2300</integer>
	<key>capHeight</key>
	<integer>1400</integer>
	<key>descender</key>
	<integer>-400</integer>
	<key>familyName</key>
	<string>26F Galaxy Sans</string>
	<key>openTypeHeadCreated</key>
	<string>2022/05/27 18:49:23</string>
	<key>openTypeNameDesigner</key>
	<string>C₂₉H₂₅N₃O₅</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFontName</key>
	<string>26FGalaxySans-Regular</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptStemSnapV</key>
	<array>
		<real>50.0</real>
	</array>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>2000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>1000</integer>
</dict>
</plist>
