<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3112</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string>Light</string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>50</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>50</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Icaron</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>K</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocaron</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>P</string>
      <string>Thorn</string>
      <string>Q</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Germandbls</string>
      <string>T</string>
      <string>Tcaron</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucaron</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Udieresisacute</string>
      <string>Udieresiscaron</string>
      <string>Udieresisgrave</string>
      <string>Udieresismacron</string>
      <string>Ugrave</string>
      <string>Umacron</string>
      <string>Uring</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>fi</string>
      <string>fl</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>Delta</string>
      <string>Omega</string>
      <string>pi</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>fraction</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>threequarters</string>
      <string>oneeighth</string>
      <string>threeeighths</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
      <string>zeroinferior</string>
      <string>oneinferior</string>
      <string>twoinferior</string>
      <string>threeinferior</string>
      <string>fourinferior</string>
      <string>fiveinferior</string>
      <string>sixinferior</string>
      <string>seveninferior</string>
      <string>eightinferior</string>
      <string>nineinferior</string>
      <string>zerosuperior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>foursuperior</string>
      <string>fivesuperior</string>
      <string>sixsuperior</string>
      <string>sevensuperior</string>
      <string>eightsuperior</string>
      <string>ninesuperior</string>
      <string>.notdef</string>
      <string>space</string>
      <string>nbspace</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>periodcentered</string>
      <string>asterisk</string>
      <string>numbersign</string>
      <string>slash</string>
      <string>backslash</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>florin</string>
      <string>at</string>
      <string>ampersand</string>
      <string>paragraph</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>cent</string>
      <string>dollar</string>
      <string>euro</string>
      <string>sterling</string>
      <string>yen</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>equal</string>
      <string>notequal</string>
      <string>greater</string>
      <string>less</string>
      <string>greaterequal</string>
      <string>lessequal</string>
      <string>plusminus</string>
      <string>approxequal</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
      <string>asciicircum</string>
      <string>infinity</string>
      <string>integral</string>
      <string>product</string>
      <string>summation</string>
      <string>radical</string>
      <string>micro</string>
      <string>partialdiff</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>lozenge</string>
      <string>dieresiscomb</string>
      <string>dotaccentcomb</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>hungarumlautcomb</string>
      <string>circumflexcomb</string>
      <string>caroncomb</string>
      <string>brevecomb</string>
      <string>ringcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>grave</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>fourthtonechinese</string>
      <string>breve</string>
      <string>ring</string>
      <string>tilde</string>
      <string>macron</string>
      <string>cedilla</string>
      <string>ogonek</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>Acaron</key>
      <string>uni01CD</string>
      <key>Delta</key>
      <string>uni0394</string>
      <key>Germandbls</key>
      <string>uni1E9E</string>
      <key>Icaron</key>
      <string>uni01CF</string>
      <key>Ocaron</key>
      <string>uni01D1</string>
      <key>Omega</key>
      <string>uni03A9</string>
      <key>Ucaron</key>
      <string>uni01D3</string>
      <key>Udieresisacute</key>
      <string>uni01D7</string>
      <key>Udieresiscaron</key>
      <string>uni01D9</string>
      <key>Udieresisgrave</key>
      <string>uni01DB</string>
      <key>Udieresismacron</key>
      <string>uni01D5</string>
      <key>brevecomb</key>
      <string>uni0306</string>
      <key>caroncomb</key>
      <string>uni030C</string>
      <key>cedillacomb</key>
      <string>uni0327</string>
      <key>circumflexcomb</key>
      <string>uni0302</string>
      <key>dieresiscomb</key>
      <string>uni0308</string>
      <key>dotaccentcomb</key>
      <string>uni0307</string>
      <key>eightinferior</key>
      <string>uni2088</string>
      <key>eightsuperior</key>
      <string>uni2078</string>
      <key>euro</key>
      <string>Euro</string>
      <key>fiveinferior</key>
      <string>uni2085</string>
      <key>fivesuperior</key>
      <string>uni2075</string>
      <key>fourinferior</key>
      <string>uni2084</string>
      <key>foursuperior</key>
      <string>uni2074</string>
      <key>fourthtonechinese</key>
      <string>uni02CB</string>
      <key>guillemetleft</key>
      <string>guillemotleft</string>
      <key>guillemetright</key>
      <string>guillemotright</string>
      <key>hungarumlautcomb</key>
      <string>uni030B</string>
      <key>macroncomb</key>
      <string>uni0304</string>
      <key>micro</key>
      <string>uni00B5</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nineinferior</key>
      <string>uni2089</string>
      <key>ninesuperior</key>
      <string>uni2079</string>
      <key>ogonekcomb</key>
      <string>uni0328</string>
      <key>oneinferior</key>
      <string>uni2081</string>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>ringcomb</key>
      <string>uni030A</string>
      <key>seveninferior</key>
      <string>uni2087</string>
      <key>sevensuperior</key>
      <string>uni2077</string>
      <key>sixinferior</key>
      <string>uni2086</string>
      <key>sixsuperior</key>
      <string>uni2076</string>
      <key>threeinferior</key>
      <string>uni2083</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twoinferior</key>
      <string>uni2082</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>zeroinferior</key>
      <string>uni2080</string>
      <key>zerosuperior</key>
      <string>uni2070</string>
    </dict>
  </dict>
</plist>
