<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>P</key>
	<dict>
		<key>public.kern2.P</key>
		<integer>-100</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>public.kern2.COMMA</key>
		<integer>0</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>public.kern2.HYPHEN</key>
		<integer>-71</integer>
		<key>public.kern2.J</key>
		<integer>-57</integer>
		<key>public.kern2.O</key>
		<integer>-143</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-286</integer>
		<key>public.kern2.T</key>
		<integer>-286</integer>
		<key>public.kern2.U</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-357</integer>
		<key>public.kern2.W</key>
		<integer>-286</integer>
		<key>public.kern2.Y</key>
		<integer>-286</integer>
	</dict>
	<key>public.kern1.B</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-43</integer>
		<key>public.kern2.COMMA</key>
		<integer>-43</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-86</integer>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-129</integer>
		<key>public.kern2.W</key>
		<integer>-121</integer>
		<key>public.kern2.Y</key>
		<integer>-157</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>public.kern2.J</key>
		<integer>-71</integer>
		<key>public.kern2.O</key>
		<integer>-121</integer>
	</dict>
	<key>public.kern1.F</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-257</integer>
		<key>public.kern2.COMMA</key>
		<integer>-286</integer>
		<key>public.kern2.J</key>
		<integer>-186</integer>
		<key>public.kern2.O</key>
		<integer>-114</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-271</integer>
		<key>public.kern2.S</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.G</key>
	<dict>
		<key>public.kern2.S</key>
		<integer>-36</integer>
	</dict>
	<key>public.kern1.J</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.COMMA</key>
		<integer>-43</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-43</integer>
	</dict>
	<key>public.kern1.K</key>
	<dict>
		<key>public.kern2.HYPHEN</key>
		<integer>-43</integer>
		<key>public.kern2.J</key>
		<integer>-100</integer>
		<key>public.kern2.O</key>
		<integer>-157</integer>
		<key>public.kern2.S</key>
		<integer>-43</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>public.kern2.HYPHEN</key>
		<integer>-143</integer>
		<key>public.kern2.J</key>
		<integer>-114</integer>
		<key>public.kern2.O</key>
		<integer>-171</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-429</integer>
		<key>public.kern2.T</key>
		<integer>-386</integer>
		<key>public.kern2.U</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-300</integer>
		<key>public.kern2.W</key>
		<integer>-300</integer>
		<key>public.kern2.Y</key>
		<integer>-343</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-171</integer>
		<key>public.kern2.COMMA</key>
		<integer>-200</integer>
		<key>public.kern2.P</key>
		<integer>-43</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-143</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-157</integer>
		<key>public.kern2.T</key>
		<integer>-186</integer>
		<key>public.kern2.U</key>
		<integer>-43</integer>
		<key>public.kern2.V</key>
		<integer>-157</integer>
		<key>public.kern2.W</key>
		<integer>-143</integer>
		<key>public.kern2.X</key>
		<integer>-157</integer>
		<key>public.kern2.Y</key>
		<integer>-214</integer>
		<key>public.kern2.Z</key>
		<integer>-114</integer>
	</dict>
	<key>public.kern1.P</key>
	<dict>
		<key>R</key>
		<integer>-70</integer>
		<key>public.kern2.A</key>
		<integer>-271</integer>
		<key>public.kern2.COMMA</key>
		<integer>-286</integer>
		<key>public.kern2.J</key>
		<integer>-171</integer>
		<key>public.kern2.O</key>
		<integer>-71</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-286</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-43</integer>
		<key>public.kern2.S</key>
		<integer>-43</integer>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-57</integer>
		<key>public.kern2.W</key>
		<integer>-57</integer>
		<key>public.kern2.X</key>
		<integer>-71</integer>
		<key>public.kern2.Y</key>
		<integer>-71</integer>
		<key>public.kern2.Z</key>
		<integer>-71</integer>
	</dict>
	<key>public.kern1.QUOTE</key>
	<dict>
		<key>public.kern2.I</key>
		<integer>0</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>public.kern2.J</key>
		<integer>-57</integer>
		<key>public.kern2.O</key>
		<integer>-100</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-43</integer>
		<key>public.kern2.T</key>
		<integer>-71</integer>
		<key>public.kern2.U</key>
		<integer>-29</integer>
		<key>public.kern2.V</key>
		<integer>-71</integer>
		<key>public.kern2.W</key>
		<integer>-57</integer>
		<key>public.kern2.X</key>
		<integer>-43</integer>
		<key>public.kern2.Y</key>
		<integer>-86</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-43</integer>
		<key>public.kern2.O</key>
		<integer>-71</integer>
	</dict>
	<key>public.kern1.SZ</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-43</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-100</integer>
		<key>public.kern2.S</key>
		<integer>-29</integer>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-100</integer>
		<key>public.kern2.W</key>
		<integer>-71</integer>
		<key>public.kern2.X</key>
		<integer>-29</integer>
		<key>public.kern2.Y</key>
		<integer>-114</integer>
		<key>public.kern2.Z</key>
		<integer>-57</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-286</integer>
		<key>public.kern2.COLON</key>
		<integer>-143</integer>
		<key>public.kern2.COMMA</key>
		<integer>-286</integer>
		<key>public.kern2.HYPHEN</key>
		<integer>-143</integer>
		<key>public.kern2.J</key>
		<integer>-243</integer>
		<key>public.kern2.O</key>
		<integer>-186</integer>
		<key>public.kern2.P</key>
		<integer>0</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-286</integer>
		<key>public.kern2.S</key>
		<integer>-71</integer>
		<key>public.kern2.SEMICOLON</key>
		<integer>-143</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.COMMA</key>
		<integer>-86</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-43</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-357</integer>
		<key>public.kern2.COMMA</key>
		<integer>-171</integer>
		<key>public.kern2.HYPHEN</key>
		<integer>-71</integer>
		<key>public.kern2.J</key>
		<integer>-257</integer>
		<key>public.kern2.O</key>
		<integer>-186</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-286</integer>
		<key>public.kern2.S</key>
		<integer>-57</integer>
		<key>public.kern2.SEMICOLON</key>
		<integer>-143</integer>
	</dict>
	<key>public.kern1.W</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-286</integer>
		<key>public.kern2.COMMA</key>
		<integer>-171</integer>
		<key>public.kern2.J</key>
		<integer>-157</integer>
		<key>public.kern2.O</key>
		<integer>-143</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-186</integer>
		<key>public.kern2.S</key>
		<integer>-57</integer>
		<key>public.kern2.SEMICOLON</key>
		<integer>-71</integer>
	</dict>
	<key>public.kern1.X</key>
	<dict>
		<key>public.kern2.HYPHEN</key>
		<integer>-71</integer>
		<key>public.kern2.J</key>
		<integer>-43</integer>
		<key>public.kern2.O</key>
		<integer>-157</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-429</integer>
		<key>public.kern2.COLON</key>
		<integer>-143</integer>
		<key>public.kern2.COMMA</key>
		<integer>-286</integer>
		<key>public.kern2.HYPHEN</key>
		<integer>-100</integer>
		<key>public.kern2.J</key>
		<integer>-286</integer>
		<key>public.kern2.O</key>
		<integer>-229</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-286</integer>
		<key>public.kern2.S</key>
		<integer>-57</integer>
		<key>public.kern2.SEMICOLON</key>
		<integer>-143</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>public.kern2.J</key>
		<integer>-71</integer>
		<key>public.kern2.O</key>
		<integer>-129</integer>
	</dict>
</dict>
</plist>
