<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>P</key>
	<dict>
		<key>public.kern2.P</key>
		<integer>-60</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>public.kern2.COMMA</key>
		<integer>0</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>public.kern2.HYPHEN</key>
		<integer>-43</integer>
		<key>public.kern2.J</key>
		<integer>-34</integer>
		<key>public.kern2.O</key>
		<integer>-86</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-171</integer>
		<key>public.kern2.T</key>
		<integer>-171</integer>
		<key>public.kern2.U</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-214</integer>
		<key>public.kern2.W</key>
		<integer>-171</integer>
		<key>public.kern2.Y</key>
		<integer>-171</integer>
	</dict>
	<key>public.kern1.B</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-26</integer>
		<key>public.kern2.COMMA</key>
		<integer>-26</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-51</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-77</integer>
		<key>public.kern2.W</key>
		<integer>-73</integer>
		<key>public.kern2.Y</key>
		<integer>-94</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>public.kern2.J</key>
		<integer>-43</integer>
		<key>public.kern2.O</key>
		<integer>-73</integer>
	</dict>
	<key>public.kern1.F</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-154</integer>
		<key>public.kern2.COMMA</key>
		<integer>-171</integer>
		<key>public.kern2.J</key>
		<integer>-111</integer>
		<key>public.kern2.O</key>
		<integer>-69</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-163</integer>
		<key>public.kern2.S</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.G</key>
	<dict>
		<key>public.kern2.S</key>
		<integer>-21</integer>
	</dict>
	<key>public.kern1.J</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.COMMA</key>
		<integer>-26</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-26</integer>
	</dict>
	<key>public.kern1.K</key>
	<dict>
		<key>public.kern2.HYPHEN</key>
		<integer>-26</integer>
		<key>public.kern2.J</key>
		<integer>-60</integer>
		<key>public.kern2.O</key>
		<integer>-94</integer>
		<key>public.kern2.S</key>
		<integer>-26</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>public.kern2.HYPHEN</key>
		<integer>-86</integer>
		<key>public.kern2.J</key>
		<integer>-69</integer>
		<key>public.kern2.O</key>
		<integer>-103</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-257</integer>
		<key>public.kern2.T</key>
		<integer>-231</integer>
		<key>public.kern2.U</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-180</integer>
		<key>public.kern2.W</key>
		<integer>-180</integer>
		<key>public.kern2.Y</key>
		<integer>-206</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-103</integer>
		<key>public.kern2.COMMA</key>
		<integer>-120</integer>
		<key>public.kern2.P</key>
		<integer>-26</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-86</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-94</integer>
		<key>public.kern2.T</key>
		<integer>-111</integer>
		<key>public.kern2.U</key>
		<integer>-26</integer>
		<key>public.kern2.V</key>
		<integer>-94</integer>
		<key>public.kern2.W</key>
		<integer>-86</integer>
		<key>public.kern2.X</key>
		<integer>-94</integer>
		<key>public.kern2.Y</key>
		<integer>-129</integer>
		<key>public.kern2.Z</key>
		<integer>-69</integer>
	</dict>
	<key>public.kern1.P</key>
	<dict>
		<key>R</key>
		<integer>-70</integer>
		<key>public.kern2.A</key>
		<integer>-163</integer>
		<key>public.kern2.COMMA</key>
		<integer>-171</integer>
		<key>public.kern2.J</key>
		<integer>-103</integer>
		<key>public.kern2.O</key>
		<integer>-43</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-171</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-26</integer>
		<key>public.kern2.S</key>
		<integer>-26</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-34</integer>
		<key>public.kern2.W</key>
		<integer>-34</integer>
		<key>public.kern2.X</key>
		<integer>-43</integer>
		<key>public.kern2.Y</key>
		<integer>-43</integer>
		<key>public.kern2.Z</key>
		<integer>-43</integer>
	</dict>
	<key>public.kern1.QUOTE</key>
	<dict>
		<key>public.kern2.I</key>
		<integer>0</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>public.kern2.J</key>
		<integer>-34</integer>
		<key>public.kern2.O</key>
		<integer>-60</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-26</integer>
		<key>public.kern2.T</key>
		<integer>-43</integer>
		<key>public.kern2.U</key>
		<integer>-17</integer>
		<key>public.kern2.V</key>
		<integer>-43</integer>
		<key>public.kern2.W</key>
		<integer>-34</integer>
		<key>public.kern2.X</key>
		<integer>-26</integer>
		<key>public.kern2.Y</key>
		<integer>-51</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-26</integer>
		<key>public.kern2.O</key>
		<integer>-43</integer>
	</dict>
	<key>public.kern1.SZ</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-26</integer>
		<key>public.kern2.QUOTE</key>
		<integer>-60</integer>
		<key>public.kern2.S</key>
		<integer>-17</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-60</integer>
		<key>public.kern2.W</key>
		<integer>-43</integer>
		<key>public.kern2.X</key>
		<integer>-17</integer>
		<key>public.kern2.Y</key>
		<integer>-69</integer>
		<key>public.kern2.Z</key>
		<integer>-34</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-171</integer>
		<key>public.kern2.COLON</key>
		<integer>-86</integer>
		<key>public.kern2.COMMA</key>
		<integer>-171</integer>
		<key>public.kern2.HYPHEN</key>
		<integer>-86</integer>
		<key>public.kern2.J</key>
		<integer>-146</integer>
		<key>public.kern2.O</key>
		<integer>-111</integer>
		<key>public.kern2.P</key>
		<integer>0</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-171</integer>
		<key>public.kern2.S</key>
		<integer>-43</integer>
		<key>public.kern2.SEMICOLON</key>
		<integer>-86</integer>
	</dict>
	<key>public.kern1.THORN</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-103</integer>
		<key>public.kern2.V</key>
		<integer>-68</integer>
		<key>public.kern2.W</key>
		<integer>-68</integer>
		<key>public.kern2.X</key>
		<integer>-51</integer>
		<key>public.kern2.Y</key>
		<integer>-111</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-60</integer>
		<key>public.kern2.COMMA</key>
		<integer>-51</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-26</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-214</integer>
		<key>public.kern2.COMMA</key>
		<integer>-103</integer>
		<key>public.kern2.HYPHEN</key>
		<integer>-43</integer>
		<key>public.kern2.J</key>
		<integer>-154</integer>
		<key>public.kern2.O</key>
		<integer>-111</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-171</integer>
		<key>public.kern2.S</key>
		<integer>-34</integer>
		<key>public.kern2.SEMICOLON</key>
		<integer>-86</integer>
	</dict>
	<key>public.kern1.W</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-171</integer>
		<key>public.kern2.COMMA</key>
		<integer>-103</integer>
		<key>public.kern2.J</key>
		<integer>-94</integer>
		<key>public.kern2.O</key>
		<integer>-86</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-111</integer>
		<key>public.kern2.S</key>
		<integer>-34</integer>
		<key>public.kern2.SEMICOLON</key>
		<integer>-43</integer>
	</dict>
	<key>public.kern1.X</key>
	<dict>
		<key>public.kern2.HYPHEN</key>
		<integer>-43</integer>
		<key>public.kern2.J</key>
		<integer>-26</integer>
		<key>public.kern2.O</key>
		<integer>-94</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-257</integer>
		<key>public.kern2.COLON</key>
		<integer>-86</integer>
		<key>public.kern2.COMMA</key>
		<integer>-171</integer>
		<key>public.kern2.HYPHEN</key>
		<integer>-60</integer>
		<key>public.kern2.J</key>
		<integer>-171</integer>
		<key>public.kern2.O</key>
		<integer>-137</integer>
		<key>public.kern2.PERIOD</key>
		<integer>-171</integer>
		<key>public.kern2.S</key>
		<integer>-34</integer>
		<key>public.kern2.SEMICOLON</key>
		<integer>-86</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>public.kern2.J</key>
		<integer>-43</integer>
		<key>public.kern2.O</key>
		<integer>-77</integer>
	</dict>
</dict>
</plist>
